<footer>
  <dl>
    <dt class="visually-hidden">Home</dt>
    <dd>Shorewood, Wisconsin, USA</dd>
    <dt class="visually-hidden">Email</dt>
    <dd>
      <a href="mailto:bryan@bryanbuchs.com">bryan@bryanbuchs.com</a>
    </dd>
    <dt class="visually-hidden">Phone</dt>
    <dd>+1 414.246.7050</dd>
    <dt class="visually-hidden">GitHub</dt>
    <dd>
      <a href="https://github.com/bryanbuchs" target="_blank">github.com/bryanbuchs</a>
    </dd>
     <dt class="visually-hidden">LinkedIn</dt>
    <dd>
      <a href="https://www.linkedin.com/in/bryan-buchs-314656341" target="_blank">linkedin.com/in/bryan-buchs-314656341</a>
    </dd>
                  <dt class="visually-hidden">Resume</dt>
    <dd>
      <a href="/resume/">Résumé</a>
    </dd>
  </dl>
</footer>