<div class="screenshots">

  <figure class="cropped">
    <img
      src="/images/thumbnails/stanford-online.webp"
      alt="screenshot of Stanford Online website"
      loading="lazy"
    />
    <span class="drupal">Drupal</span>
    <figcaption>
      <a href="/projects/stanford-online/">Stanford Online</a>
      - Drupal theme; Drupal custom modules; Storybook component library; WCAG
      accessibility
    </figcaption>
  </figure>

  <figure class="cropped">
    <img
      src="/images/thumbnails/stanford-seet.webp"
      alt="screenshot of Stanford Enterprise Education for Transformation website"
      loading="lazy"
    />
    <span class="drupal">Drupal</span>
    <figcaption>
      <a href="/projects/stanford-seet/"
        >Stanford Enterprise Education for Transformation</a
      >
      - Drupal theme; Drupal custom modules; Storybook component library; WCAG
      accessibility
    </figcaption>
  </figure>

  <figure class="cropped">
    <img
      src="/images/thumbnails/hhmi-biomolecules.webp"
      alt="screenshot of Biomolecules on the Menu website"
      loading="lazy"
    />
    <span class="vue">Vue</span>
    <figcaption>
      <a href="/projects/hhmi-biomolecules/">Biomolecules on the Menu</a>
      - Vue Single Page App; GSAP animations; WCAG accessibility
    </figcaption>
  </figure>

  <figure class="cropped">
    <img
      src="/images/thumbnails/hhmi-video.webp"
      alt="screenshot of HHMI BioInteractive Video Builder"
      loading="lazy"
    />
    <span class="drupal">Drupal</span>
    <figcaption>
      <a href="/projects/hhmi-video/">Interactive Video Builder</a>
      - Drupal theme; Drupal custom modules; Vue/H5P integration; WCAG
      accessibility
    </figcaption>
  </figure>
</div>
