header {
  color: var(--body-light);
  text-align: center;
  text-wrap: balance;

  border-bottom: 1px solid var(--body-light);
  padding-bottom: 0.5lh;
  margin-bottom: 0.5lh;

  h1 {
    margin-bottom: 0;
    font-weight: 500;
    font-size: var(--font-size-5);
    color: var(--body-dark);
  }

  p {
    font-size: var(--font-size-3);
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }

  p.tagline {
    font-size: var(--font-size-1);
    font-style: italic;
  }
}
