header {
  grid-column: primary;

  border-bottom: 1px solid var(--body-light);
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  text-align: center;
  text-wrap: balance;

  h1 {
    font-weight: 400;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 3.33rem;
    line-height: 1;
    margin-bottom: 0.75rem;

    a {
      display: inline-block;
      color: var(--title);
      text-decoration: none;
      /* text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-style: solid;
      text-underline-offset: 1px;
      text-decoration-color: currentColor; */

      &:hover, &:focus {
        color: oklch(from var(--title) calc(l + 0.075) c h);
      }
    }

    span {
      margin-left: -0.3ch;
    }
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: var(--body-dark);
  }

  p.tagline {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    color: var(--body-light);
  }
}
