:root {
  --gap: 1rem;
  --primary: min(55ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 5rem);
  --feature: minmax(0, 10rem);
  --full: minmax(var(--gap), 1fr);
}

.container {
  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [primary-start] var(--primary) [primary-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

body {
  margin: 0;
  padding-inline: 0;
  padding-block: var(--gap);
}

:where(.container) > *,
:is(.primary) {
  grid-column: primary;
}

:is(.popout) {
  grid-column: popout;
}

:is(.feature) {
  grid-column: feature;
}

:is(.full) {
  grid-column: full;
}
