.container {
  --gap: 2rem;
  --primary: min(65ch, 100% - var(--gap) * 2);
  --popout: minmax(0, 3rem);
  --feature: minmax(0, 3rem);
  --full: minmax(var(--gap), 1fr);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [primary-start] var(--primary) [primary-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

:where(.container) > *,
:where(.primary) {
  grid-column: primary;
}

:where(.popout) {
  grid-column: popout;
}

:where(.feature) {
  grid-column: feature;
}

:where(.full) {
  grid-column: full;
}

:where(header:not([class])) {
  grid-column: popout;
}

:where(main:not([class])) {
  grid-column: full;
}

:where(footer:not([class])) {
  grid-column: feature;
}
