.container {
  --gap: var(--size-fluid-2);
  --full: minmax(var(--gap), 1fr);
  --content: min(var(--size-content-3), 100% - var(--gap) * 2);
  --popout: minmax(0, 3rem);
  --feature: minmax(0, 6rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [popout-start] var(--popout)
    [content-start] var(--content) [content-end]
    var(--popout) [popout-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

:where(.container) > * {
  grid-column: content;
}

:where(.popout) {
  grid-column: popout;
}

:where(.feature) {
  grid-column: feature;
}

:where(.full) {
  grid-column: full;
}

:where(header:not([class])) {
  grid-column: popout;
}

:where(main:not([class])) {
  grid-column: full;
}

:where(footer:not([class])) {
  grid-column: feature;
}
