@media print {
  body {
    font-size: 16px;
  }

  * {
    color: #000;
  }

  img {
    display: none;
  }

  * {
    box-shadow: none;
    background-color: transparent;
  }

  p, li {
    page-break-inside: avoid;
  }
}
