*,
*::after,
*::before {
  box-sizing: border-box;
}

:focus-visible {
  outline-offset: 2px;
  outline: 1px solid currentColor;
}

:where(html) {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scrollbar-gutter: stable;
}

:where(*) {
  margin-block: 0;
}

:where(ul, ol, dl, dt, dd, p, figure, blockquote) {
  hanging-punctuation: first last;
  text-wrap: pretty;
}