.screenshots {
  margin-block: 1rem;
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;

  &:not(.popout) {
    grid-column: feature;
  }
}

figure {
  width: 100%;
  max-width: 520px;
  margin: 0;
  padding: 0;
  position: relative;

  img {
    aspect-ratio: 400 / 235;
    object-position: top;
    object-fit: cover;

    display: block;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: var(--shadow-4);
    outline: 1px solid var(--body-light);
  }

  figcaption {
    margin-top: 0.85rem;
    font-size: 0.85rem;
    line-height: 1.4;
    text-align: center;
  }

  figcaption a:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 400 / 235;
  }
}
