:root {
  --background: oklch(from #d7d2cb l c h);
  --body: oklch(from #403f48 l c h);
  --body-light: oklch(from var(--body) calc(l + 0.1) c h);
  --body-dark: oklch(from #403f48 l c h);
  --body-highlight: oklch(from #6d3939 l c h);
  --title: oklch(from #8e7c60 calc(l - 0.2) c h);
  --link: #374259;
  --link-hover: oklch(from var(--link) calc(l - 0.1) c h);
  --marker: var(--body-light);
  --tag: #45526c;
  --tag-text: #faf5e4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(from #444036 l c h);
    --body: oklch(from #ffffff l c h);
    --body-light: oklch(from #ffffff l c h);
    --body-dark: oklch(from #ffffff calc(l + 0.05) l c h);

    --body-highlight: var(--body-dark);
    --title: #d6ccc2;

    --link: oklch(from #e7d7ca l c h);
    --marker: var(--body-dark);
    --tag: oklch(from var(--background) calc(l - 0.1) c h);
    --tag-text: var(--body-light);
  }
}

html,
body {
  text-decoration-skip-ink: auto;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-size: clamp(1.125rem, 1.0598rem + 0.3261vw, 1.3125rem);
  color: var(--body);
  background-color: var(--background);
  font-family: 'Alegreya Variable', serif;
  line-height: 1.5;
}

main {
  grid-column: full;
}

:where(h2, h3, h4) {
  font-weight: 500;
}

:where(li) {
  list-style-type: square;
}

:where(li)::marker {
  color: var(--marker);
}

:where(li + li) {
  margin-top: 0.5rem;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

:where(a) {
  display: inline-block;
  color: var(--link);
  text-decoration-thickness: 1px;
  transition: all 0.1s var(--ease-in-out-4);
  transform-origin: bottom;

  &:hover,
  &:focus {
    color: var(--link-hover);
    text-decoration-thickness: 2px;
    transform: translateY(-2px);
  }
}

ul {
  padding-inline: 2ch;
  list-style-type: none;
}

h2 {
  font-size: 1.33rem;
  line-height: 1.1;
  font-weight: 500;
  margin-block: 0.75rem;
  color: var(--body-highlight);
}

h3 {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--body-highlight);
  margin-block: 0.5rem;
}

/* project pages */

p > a:first-child:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

ul.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0.75rem;
    padding: 0.25em 0.75em;
    background-color: var(--tag);
    color: var(--tag-text);
    border-radius: 0.125rem;
  }
}
