html,
body {
  margin: 0;
  padding: 0;
  padding-inline: 2rem;
  background-color: var(--color-gray-1);
}

* + * {
  margin-top: 0;
}

p {
  text-align: pretty;
}

header {
  text-align: center;
  margin-top: 2rem;
}

header h1 {
  margin-bottom: 0;
}

header p {
  font-size: 125%;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

header,
main {
  max-width: 800px;
  margin-inline: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  color: var(--color-gray-5);
}

h1 {
  font-weight: 600;
  margin-bottom: 0;
}


h2 {
  line-height: 1;
  font-weight: 500;
  margin-top: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--color-gray-4);
  margin-bottom: 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1);
}

strong {
  font-weight: 500;
}

a {
  color: var(--color-cerulean-4);
}

a:visited {
  color: var(--color-blue-4);
}

a:hover,
a:focus-visible {
  color: var(--color-cerulean-3);
}

img {
  border-radius: 50%;
  overflow: hidden;
  max-width: 140px;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--color-gray-5) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--color-gray-5) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--color-gray-5) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--color-gray-5) / 0.36);
}
