:root {
  --background: oklch(from #e2e0d9 l c h);
  --body: oklch(from #403f48 l c h);
  --body-light: oklch(from var(--body) calc(l + 0.1) c h);
  --body-dark: oklch(from #403f48 l c h);
  --link: oklch(from #314357 calc(l - 0.1) c h);
  --link-visited: oklch(from var(--link) calc(l - 0.1) c h);
  --link-hover: oklch(from var(--link) calc(l + 0.1) c h);
  --marker: var(--body-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-powder-6);
    --body: #efefef;
    --body-light: #f0ebe5;
    --body-dark: #ffffff;
    --link: var(--color-powder-2);
    --link-visited: var(--color-powder-2);
    --link-hover: var(--color-powder-1);
    --marker: var(--color-powder-3);
  }
}

html {
  text-decoration-skip-ink: auto;
  font-optical-sizing: auto;
  font-kerning: normal;
  font-size: clamp(1.25rem, 1.0185rem + 0.7407vw, 1.5rem);
  color: var(--body);
}

body {
  font-family: 'Alegreya Variable', serif;
  line-height: 1.5;
  padding: 1rem;
  background-color: var(--background);
}

main {
}

:where(h2, h3, h4) {
  font-weight: 400;
}

:where(li) {
  list-style-type: square;
}

:where(li)::marker {
  color: var(--marker);
}

:where(li + li) {
  margin-top: 0.5rem;
}

p,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-weight: 500;
}

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover,
a:focus-visible {
  color: var(--link-hover);
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

ul {
  padding-inline: 2ch;
  list-style-type: none;
}

h2 {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 500;
  margin-top: 0;
  padding-block: 0.5rem;
  margin-bottom: 0;
}

.is-sticky {
  position: sticky;
  z-index: 3;
  top: -1px;
  margin-left: -3px;
  margin-right: -3px;
  padding-inline: 3px;
}

.is-stuck {
  background-color: var(--background);
  box-shadow: 0px 25px 20px -20px rgba(33, 33, 33, 0.33);
}

h3 {
  font-weight: 500;
  font-size: 1.1rem;
}

h3 + :not(.description) {
  margin-top: 0.5rem;
}
