.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.centered {
  text-align: center;
  text-wrap: balance;
}

.text-larger {
  font-size: 1.2em;
  line-height: 1.4;
}
