.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.text-center {
  text-align: center;
  text-wrap: balance;
}

.text-large {
  font-size: 1.5rem;
  line-height: 1.3;
}

.text-huge {
  /* @link https://utopia.fyi/type/calculator?c=640,26,1.2,1240,38,1.25,0,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  font-size: clamp(1.625rem, 0.825rem + 2vw, 2.375rem);
  line-height: 1.3;
  color: var(--body-highlight);
}

.text-medium {
  font-size: 1.3rem;
  line-height: 1.4;
}
